* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.search-container .form {
  display: flex;
  align-items: center;
}

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.search-results h1 {
  text-decoration: underline overline blueviolet;
  color: #3d3d3d;
  margin-left: 7rem;
}

.search-enter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 1.5rem 0;
}

.search-enter img {
  width: 7rem;
  margin-right: 4rem;
}

/*//////////*/
.search-container input[type="text"] {
  padding: 11px;
  font-size: 1rem;
  border-radius: 1em;
  width: 35rem;
  outline: none;
  color: black;
  border-color: #3d3d3d;
}

.btn {
  padding: 1.2em 3em;
  color: blue;
  border-color: 3px solid white;
  border-radius: 25px;
  background-color: #3d3d3d;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: -7rem;
  text-transform: uppercase;
}

.btn:hover,
.btn:active {
  background: royalblue;
  transition: background-color 0.9s;
}

/*///////////////////////////////////////////////////////////*/
.search-results {
  padding-top: 1em;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.search-data {
  display: flex;
  flex-direction: column;
  flex-grow: -11;
}

.paraf-1 {
  display: flex;
  gap: 10px;
  margin-bottom: 1em;
  align-items: center;
}

.paraf-1 h3 {
  color: rgb(36, 35, 35);
  font-size: 1rem;
}

.paraf-1 p {
  font-size: 1rem;
}

.paraf-2 {
  display: grid;
  grid-gap: 5px;
}

.paraf-2 a {
  font-size: 1.2rem;
  text-decoration: none;
  text-align: left;
}

.paraf-2 p {
  font-size: 0.9rem;
  width: 80%;
}

.paraf-2 a:hover {
  text-decoration: underline;
}

.title_url {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

@media only screen and (max-width: 950px) {
  .search-enter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0.9rem 0;
  }

  .search-container input[type="text"] {
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 1em;
    width: 30rem;
    margin-top: 1rem;
  }

  .search-enter img {
    width: 8rem;
    display: block;
    align-items: center;
  }

  .btn {
    background-color: #3d3d3d;
    color: white;
    padding: 0.67rem 1rem;
    margin-left: -4.7rem;
    margin-top: 1em;
  }

  .paraf-1 h3 {
    color: rgb(36, 35, 35);
    font-size: 1rem;
  }

  .paraf-1 p {
    font-size: 0.8rem;
  }

  .paraf-2 p {
    font-size: 0.9rem;
    width: 100%;
  }

  .search-results {
    padding-top: 1em;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
  }

  .search-results h1 {
    text-decoration: underline overline blueviolet;
    color: #3d3d3d;
    margin-left: 3.5rem;
    font-size: 1.7rem;
    width: 80%;
    text-align: center;
    line-height: 2;
  }
}

@media only screen and (max-width: 550px) {
  .stop {
    width: 99%;
  }

  .search-enter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0.9rem 0;
  }

  .search-container input[type="text"] {
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 1em;
    width: 18rem;
    margin-top: 1rem;
  }

  .search-enter img {
    width: 8rem;
    margin-left: 5rem;
  }

  .btn {
    background-color: #3d3d3d;
    color: white;
    padding: 0.67rem 1.2rem;
    margin-left: -4.7rem;
    margin-top: 1em;
    text-align: center;
  }

  /*////////////////////////*/
  .paraf-1 h3 {
    color: rgb(36, 35, 35);
    font-size: 1rem;
  }

  .paraf-1 p {
    font-size: 0.8rem;
  }

  .paraf-2 p {
    font-size: 0.9rem;
    width: 100%;
  }

  .search-results {
    padding-top: 1em;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
  }

  .search-results h1 {
    text-decoration: underline overline blueviolet;
    color: #3d3d3d;
    margin-left: 3.5rem;
    font-size: 1.3em;
    width: 70%;
    text-align: center;
    line-height: 2;
  }
}
